<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.57.0.0" targetFramework="Native" />
  <package id="libzmq_vc120" version="4.2.3.0" targetFramework="Native" />
  <!--<package id="protobuf_vc120" version="2.6.0.1" targetFramework="Native" />-->
  <package id="secp256k1_vc120" version="0.1.0.14" targetFramework="Native" />
</packages>
